# Node
node_modules/
**/node_modules/
dist/
**/dist/
**/*.tsbuildinfo
build/
temp/
tmp/

# Yarn (Berry)
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Logs
logs/
infra/logs/*.ndjson
*.log
npm-debug.log*
yarn-debug.log*

# Env 
.env
.env.*
apps/*/.env
apps/*/.env.*
web/.env
web/.env.*
lib/.env.*

# 예시 파일은 커밋 허용
!*.example

# OS/IDE
.DS_Store
.idea/
.vscode/

# Coverage
coverage/

# next
web/.next/

**/*.tsbuildinfo
